* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #fefefe;
    font-family: 'Inter', sans-serif;
}

.card {
    border-bottom: 1px solid #cccccc;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    /* border-radius: 4px; */
}

.card-body {
    padding: 10px;
    text-align: left;
    font-size: 14px;
    color: #afafaf;
}

.card-title {
    padding: 10px;
    color: #0d5499;
}

.card:hover {
    transform: scale(1);
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.25);
}

.container {
    padding: 5px;
}

.list {
    margin:4px, 4px;
    padding:4px;
    width: 400px;
    height: 1080px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}
