.header {
  font-size: 40px;
  text-align: center;
  background: rgb(13,84,153);
  background: linear-gradient(352deg, rgba(13,84,153,1) 0%, rgba(71,70,139,1) 18%, rgba(137,54,124,1) 47%, rgba(224,120,61,1) 100%);
  color: white;
  display: inline-block;
}

.file-container {
  border-bottom: 1px solid #cccccc;
  padding: 10px;
  font-family: 'Inter', sans-serif;
  /* border-radius: 4px; */
  margin-bottom: 20px;
}

.file-name {
  padding-bottom: 5px;
  font-size: 16px;
  color: #0d5499;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
  display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}

.file-sub {
  padding-top: 10px;
  text-align: left;
  font-size: 14px;
  color: #9c9c9c;
}

.archive-container {
  border-radius: 8px;
  padding: 20px;
  margin: 50px;
  background-color: #FAFAFA;
}


/* Search */
.container {
  width: 100vw;
  /* height: 100vh; */
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.container .searchbox {
  position: relative;
  display: block;
  width: 100%;
  max-width: 300px;
  transition: 0.4s linear;
  overflow: hidden;
  margin-bottom: 150px;
}
.container .searchbox .searchbox__input {
  display: inline-block;
  appearance: none;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 50px;
  /* background-color: #FAFAFA; */
  padding: 20px;
  color: #0d5499;
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s linear;
}
.container .searchbox .searchbox__input::placeholder {
  color: #0d5499;
  opacity: 70%;
}
.container .searchbox .searchbox__icon {
  position: absolute;
  right: calc(53px / 2);  
  top: 56%;
  transform: translate(50%, -50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}
.container .searchbox .searchbox__icon path {
  fill: #0d5499;
  transition: 0.4s linear;
}
.container .searchbox:focus-within {
  max-width: 500px;
}
.container .searchbox:focus-within .searchbox__input {
  background-color: #FFF;
  padding-right: 50px;
  /* box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.4); */
}
.container .searchbox:focus-within .searchbox__icon path {
  fill: #0d5499;
}



/* Table */
.styled-table {
  border-collapse: collapse;
  /* margin: 25px 0; */
  font-size: 0.9em;
  min-width: 400px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
}

.styled-table thead tr {
  background-color: #0d5399;
  color: #ffffff;
  text-align: left;
  font-size: 20px;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 1px solid #0d539970;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #0d5399;
}
.fa-download {
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  color: #0d5399;
  text-decoration: none;
  font-size: 16px;
}



/* Animation */
.wrapper {
  height: 50vh;
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.typing-demo {
  width: 600px;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  font-size: 2em;
  color: #FAFAFA;
  margin-top: 100px;
  flex-wrap: wrap;
  align-content: center;  
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}