.menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
}

.fa-times {
    color: #0d5499;    
    font-size: 2rem;
}

.nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #FAFAFA;
    text-decoration: none;
    color: #0d5499;    
    font-size: 1.5rem;
}

.nav-links-mobile:hover {
    background: #0d5499;
    color: #FAFAFA;
    transition: 250ms;
}

button {
    display: none;
}